<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>people</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>eak.servlet.PeopleList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>add-person</servlet-name>
    <servlet-class>eak.servlet.AddPerson</servlet-class>
  </servlet>

<servlet-mapping>
  <servlet-name>list</servlet-name>
  <url-pattern>/list*</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>add-person</servlet-name>
  <url-pattern>/add-person*</url-pattern>
</servlet-mapping>

</web-app>
